<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pause to Reflect</h1>

    <!-- Maybe we should randomize the subject line/header here? -->

    <p>
      Hello again, <%= @user.first_name %>. How was your day? We'd love to hear about it!<br/>
    </p>
    <p>
      <a href= "<%= @url %>"> Write a page in the story of you</a>

      <!-- We'll want to make the URLs prettier at some point -->

    </p>
  </body>
</html>