<ul class="span2 nav nav-list bs-docs-sidenav affix">
  <!-- <li class="nav-header">Questions</li> -->
  <li>
    <a href="#bestpractices" id="snapshot-box">
      Best Practices
    </a>
  </li>
</ul>

