<h1>Help</h1>

<div>Read up on Lifestor best practices and learn how the service can work for you.</div>

            <div class="dropdown" style="display:inline-block;">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">What are "best practices"?</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><%= link_to 'Profile', edit_user_path(current_user) %></li>