<div class="visitor-content">

  <h1>Help</h1>

  <div>Read up on Lifestor best practices and learn how the service can work for you.</div>

  <div>Or we could make an accordion layout with <a href="http://stackoverflow.com/questions/2756751/jquery-ui-accordion-css">this link</a>.</div>
        
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3 bs-docs-sidebar">
          <ul class="nav nav-list bs-docs-sidenav affix">
            <li class="nav-header">Questions</li>
            <li>
              <a href="#bestpractices">
                What are "best practices"?
              </a>
            </li>
          </ul>
      </div>
      <div class="span9">
        <section id="bestpractice">
          <h1>Best Practices</h1>
        </section>
      </div>
    </div>
  </div>

</div>
