<title>Welcome to Lifestor</title>

(put login link up here--application layout, probably)

(and we'll have an application footer for "help", "about us"--maybe four corners of a square, shaped like triangles, to bring out the book side of things?)

<p>Every life is a story worth telling.</p>

<p>Every day is a page worth reading. </p>

<p>Your memories belong to you. </p>

<p>But they also belong to your future self. Lifestor gives you the chance to access a treasure chest of memories at any point in your life. Our innovative tagging structure is the world's best file cabinet for snapshots, happenings and reflections.</p>

<p>Memories can be wonderful. But over time, they age, and like old-timey photographs, they begin to fade. We replace our memories with shorter and shorter stories, until our lives are a few sentences whispered into the ears of our grandchildren.</p>

<p>With Lifestor, your memories become the story--a story that will never fade, shrink, or shrivel. Tou can share your story with the world, or keep it close to your heart. You can take ownership of your best moments and return to them whenever you'd like. </p>

<p>Organization:</p>
  <ul>
    <li>First tab is for intro</li>
    <li>Second tab is for "what can this do?"</li>
    <li>Third tab is "Here's how a typical person might use Lifestor as "memory insurance": ten minutes per day, to save that day forever"</li>
    <li>Fourth is "sign up", plus some contact info for questions, tweet buttons, etc.</li>
  </ul>

  http://twitter.github.io/bootstrap/javascript.html#tabs      IS WHAT YOU NEED!

  <div class="dropdown" style="display:inline-block;margin-right:10px;">
    <a class="dropdown-toggle" close-on-click="false" data-toggle="dropdown" href="#"><strong><%= "One Day With Lifestor" %></strong> </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      </li><%= render 'cover/oneday' %></li>
    </ul>
  </div>

</body>