<h1>Welcome to Lifestor!</h1>

<p>Repeat parts of the help page</p>

<p>It's Lifestor tradition that new users fill out their first Bio before they start recording Snapshots and Happenings. This is your story, after all--and every good story has an interesting main character.</p>

<p>Bios aren't like any profile on any other website you've ever seen. Most profiles explain your most basic, surface characteristics to Internet strangers. A Bio explains you to yourself, and preserves your identity at the moment you fill it out.</p>

<p>Each year, on your Bioversary, you'll fill out another Bio. Some of it might be the same. Some of it will definitely be different. We all transform, day by day, but most of us never notice the beauty and wonder of a changing self.</p>

<p>(If user is on a PC or tablet)</p>

<p>If you've got 15 minutes to spare, we'd love to have you fill out your Bio at the link below. If not, write one whenever you get the time. It isn't mandatory, but it's an experience we think you'll treasure for the rest of your life.</p>

<p>Plus, you'll get your first 50 Lifestor Points! (50 is a lot of points.) That's enough to buy a pony!* What are you waiting for?</p>

<%= link_to "Let's write a Bio!", new_bio_path %>

<p>*Disclaimer: We don't really sell ponies. The pony is a metaphor for happiness. Money can't buy happiness, of course, but Lifestor points can.</p>