<% "New Entry" %>
<% if params[:type] == 'snapshot' %>
<%= render 'snapshot_form' %>
<% elsif params[:type] == 'happening' %>
<%= render 'happening_form' %>
<% elsif params[:type] == 'reflection' %>
<%= render 'reflection_form' %>
<% end %>
   


<p><%= link_to "Back to List", entries_path %></p>
