.bs-docs-sidebar {
  margin-left: -15%;
  margin-top: 81px;
  width: 250px;

  li {
    font-size: 24px;
    padding: 40px 40px 40px 40px;
  }

  a {
    color: black;
    text-shadow: none;
  }

  a:hover {
    background-color: none;
  }


  #snapshot-box {
    background-color: $theme1;
  }

  #happening-box {
    background-color: $theme2;
  }

  #reflection-box {
    background-color: $theme3;
  }
}