.sidebar {
  margin-left: -15%;
  margin-top: 81px;

  li {
    font-size: 28px;
    padding: 50px 75px 50px 75px;
  }

  a {
    color: black;
    text-shadow: none;
  }

  a:hover {
    background-color: none;
  }


  #snapshot-box {
    background-color: $theme1;
  }

  #happening-box {
    background-color: $theme2;
  }

  #reflection-box {
    background-color: $theme3;
  }
}