/*
 *= require jquery.ui.datepicker
 *= require colorbox-rails
 *= require_self
 *= require token-input-facebook
 */

 @import "bootstrap_and_overrides";

 @import "layouts/application";

 @import "layouts/navbar";

 @import "layouts/sidebar";

 @import "cover";

a:hover {
  text-decoration: none;
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.dropdown {
  font-weight: bold;
}

.dropdown-menu {
  font-weight: normal;
}

#map-canvas { height: 100% }
#map-canvas img{max-width:none;}

#place-results {
  height: 300px;
  width: 200px;
  border: 10px solid black;
  background: green;
  float: right;
  margin-right: 350px;
  overflow: auto;
}

#near_places {
  height: 480px;
  width: 300px;
  background: white;
  border: 1px solid black;
  float: right;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 80px;
  overflow: auto;
  text-align: center;
}

#notice_info {
  font-size: 18px;
  padding-top: 12px;
  border-top: 1px dashed black;
  margin-right: 0px;
}

#map-canvas{
  width: 608px; 
  height: 480px; 
  margin-left: 10px;
  margin-right: 1px; 
  margin-bottom: 50px;
  margin-top: 5px;
}

#find-place{
  margin-left: -90px;
  margin-top: 50px;
  border-radius: 5px;
}

#new_snapshot {
  margin-left: 150px;
  margin-top: 10px;
  font-style: italic;
}

