/*
 *= require jquery.ui.datepicker
 *= require_self
 *= require token-input-facebook
 *= require_tree .
 */

 @import "bootstrap_and_overrides";

 @import "layouts";

 @import "posts";

.dropdown {
  font-weight: bold;
}

.dropdown-menu {
  font-weight: normal;
}

#map-canvas { height: 100% }
#map-canvas img{max-width:none;}

#place-results {
	height: 300px;
	width: 200px;
	border: 10px solid black;
	background: green;
	float: right;
	margin-right: 350px;
	overflow: auto;
}

#near_places {
	height: 296px;
	width: 350px;
	background: white;
	border: 1px solid black;
	border-radius: 6px;
	float: right;
	margin-right: 70px;
	margin-top: 190px;
	overflow: auto;
}

#notice_info {
	font-size: 18px;
	padding-top: 12px;
	border-top: 1px dashed black;
}

#map-canvas{
	width: 600px; 
	height: 480px; 
	margin-left: 70px;
	margin-right: 20px; 
	margin-bottom: 10px;
	margin-top: 5px;
	float: left;
}

#find-place{
	float: left;
	margin-top: 50px;
}

#new_snapshot {
	margin-left: 150px;
	margin-top: 10px;
	font-style: italic;
}
