    <%= content_tag :div, id: "new_entry_path", data: {path: new_entry_path(:message_type => 'snapshot')} do %>
    blash
    <%= current_user.latitude %>
    <% end %>

    <%= javascript_tag do %>
  	latitude = current_user.latitude.to_json
  	longitude = current_user.longitude

  	<% end %>
    <div id="map-canvas"></div>
    