    <%= content_tag :div, id: "new_entry_path", data: {path: new_entry_path(:message_type => 'snapshot')} do %>
    
    
    <!-- <input type="button" value="click here yo" onclick="closeToStuff()"> -->
    <% end %>

    <div id="near_places"><%= notice %></div>
    
  <div id="find-place">
    <input id="address" type="textbox" value="New York, NY" style="margin-left: 100px;">
    <input type="button" value="find a place" onclick="codeAddress()">
  </div>
  <div id="map-canvas"></div>
    