    <%= content_tag :div, id: "new_entry_path", data: {path: new_entry_path(:message_type => 'snapshot')} do %>
    <p id="notice"><%= notice %></p>
    blash
    <!-- <input type="button" value="click here yo" onclick="closeToStuff()"> -->
    <%= current_user.latitude %>
    <% end %>

    
    <div id="map-canvas" style="width: 600px; height: 480px; margin: 100px; margin-bottom: 10px;"></div>
  <div>
    <input id="address" type="textbox" value="New York, NY" style="margin-left: 100px;">
    <input type="button" value="find a place" onclick="codeAddress()">
  </div>
    