<div class="sidebar">
  <ul class="nav nav-list bs-docs-sidenav affix">
    <li id="snapshot-box">
      <%= link_to 'Snapshot', new_entry_path(:message_type => 'snapshot') %>
    </li>
    <li id="happening-box">
      <%= link_to 'Happening', new_entry_path(:message_type => 'happening') %>
    </li>
    <li id="reflection-box">
      <%= link_to 'Reflection', new_entry_path(:message_type => 'reflection') %>
    </li>
  </ul>
</div>